table {
    td{
    font-size: 1.1rem;
}   th{
    font-size: 1.1rem ; 
}
}

button.qt{
    border: none;
    background-color: white;
    font-size: 2rem;
    margin:0px 8px;
}
div.QT{
    justify-content: flex-start;
}